{% extends "base.html" %} /* Add block title */ {% block title %}Health Hack
Detail - {{hack.title}} {%endblock %} /* Add block content */ {% block content
%}
<div class="container">
  <div class="hack-info mt-3 p-1">
    <div class="hack-img">
      <img
        src="{{ hack.image.url }}"
        alt="{{ hack.image_alt }}"
        class="hack-pic"
      />
    </div>
    <div class="hack-detail">
      <h1 class="text-center">{{ hack.title }}</h1>
      <p class="text-center">Posted by {{hack.user}} on {{hack.posted_date}}</p>
      <hr />
      <p>{{hack.description}}</p>
      <p class="p-3">
        <strong>Field of interest: </strong> {{ hack.hack_type|title }}
      </p>

      {% if request.user == hack.user %}
      <div class="text-center">
        <a href="{% url 'edit_hack' hack.id %}" class="btn btn-primary w-25"
          >Edit</a
        >
        <a href="{% url 'delete_hack' hack.id %}" class="btn btn-primary w-25"
          >Delete</a
        >
      </div>
      {% endif %}
    </div>
  </div>
  <div class="hack-container">
    <div class="content p-3">
      <h2>Content</h2>
      <p>{{ hack.content|safe }}</p>
    </div>
  </div>
</div>
{% endblock %}
